body{
    align-items: center;
    text-align: center;
    font-family: Shantell Sans;
    background-color: rgb(254, 43, 43);
    color: white;
}
.navbar ul{
    padding: 0px;
    margin: 0px;
    background-color: rgb(72, 246, 72);
    border-radius: 33px;
    display: block;
    overflow: hidden;
    height: 50px;
    align-items: center;
    font-size: larger;
}
.navbar li{
    list-style-type: none;
    float: left;
    padding: 9px;
    margin: 0px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(76, 218, 76);
    transition-duration: .7ms;
    transition-delay: .5ms;
    border-radius: 33px;
}
.homepage{
    border-radius: 33px;
    border: solid;
}
.big-text{
    font-size: xx-large;
    font-weight: bold;
}
button{
    border-radius: 33px;
    background-color: transparent;
    font-family: Shantell Sans;
    color: white;
    border: solid;
    border-color: white;
}
hr{
    height: 5px;
    background-color: white;
    border-radius: 33px;
}
.license-link{
    font-size: larger;
    color: white;
}
.huge-text{
    font-size: xx-large;
    font-weight: bolder;
    color: yellow;
}
.big-christmastree{
   font-size: 100px 
}